body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.first {
    text-align: center;
}

h1 {
    margin-top: 20px;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

i {
    font-size: 18px;
    margin-right: 10px;
}

.actions {
    text-align: center;
}

.fa-trash-alt {
    color: #db3934;
}

.fa-trash-alt:hover {
    color: rgb(184, 35, 35);
    transition: color 0.3s;
}

/* Estilo para quitar el fondo de input y button */
input,
button {
    background-color: transparent;
    /* Fondo transparente */
    border: none;
    /* Sin borde */
    outline: none;
    /* Sin contorno/foco al hacer clic */
}

.last-box {
    display: flex;
}

/* Estilo para el primer icono (negro) */
.black-icon {
    color: black;
}
 .black-icon:hover{
    color: rgb(29, 29, 29);
    transition: color 0.3s;
 }
